* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: linear-gradient(to top, rgba(80, 60, 18, 0.6) 10%, transparent),
    url("./images/freedom.jpg") left 10% bottom 50% / cover no-repeat border-box;
  width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 43px;
  position: relative;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__features li {
  margin: 8px 0;
}

.plan__title {
  color: #0e4f1f;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__price {
  color: rgb(145, 143, 143);
}

.plan__button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.plan__button:active,
.plan__button:hover {
  background: white;
  color: #0e4f1f;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

#key-features ul {
  list-style: none;
  color: white;
  text-align: center;
}

#key-features ul li {
  display: inline-block;
  padding: 20px;
  width: 25%;
}

.key-feature__image {
  background: #ffcede;
  width: 120px;
  height: 120px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer ul li {
  display: inline-block;
  margin: 0 16px;
}

.main-footer ul li a {
  color: white;
  text-decoration: none;
}

.main-footer ul li a:hover {
  color: #ccc;
}
