* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  height: calc(100% - 3.5rem - 8rem);
  margin-top: 3.5rem;
}

.backdrop {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  z-index: 2;
  top: 0;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  height: 2.5rem;
  display: inline-block;
}

.main-header__brand img {
  height: 100%;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer ul li {
  margin: 1rem 0;
}

.main-footer ul li a {
  color: white;
  text-decoration: none;
}

.main-footer ul li a:hover {
  color: #ccc;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  .main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
  }
  .main-footer ul li {
    display: inline-block;
    margin: 0 1rem;
  }
}
