main {
  padding-top: 1rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form {
  padding: 1rem;
  display: grid;
  grid-auto-rows: 3rem;
  grid-row-gap: 0.5rem;
}

.signup-form label {
  font-weight: bold;
}

.signup-form button {
  background-color: #0e4f1f;
  color: white;
  height: 2rem;
  border-radius: 8px;
  font: inherit;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  width: 100%;
}

.signup-form input[id="agree-terms"],
.signup-form input[id="agree-terms"] + label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup-form input,
.signup-form select {
  border: 1px solid #ccc;
  font: inherit;
}

.signup-form input:not([type="checkbox"]),
.signup-form button[type="submit"] {
  display: block;
  margin-top: 1rem;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background: #d8f3df;
  border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
  border: 1px solid #ccc;
  background: white;
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.signup-form input[type="checkbox"]:checked {
  background: #2ddf5c;
  border-color: #0e4f1f;
}

.signup-form input.invalid,
.signup-form input.invalid,
.signup-form :invalid {
  border: 1px solid red !important;
  background: rgb(250, 172, 172) !important;
}

@media (min-width: 40rem) {
  .signup-form {
    margin: auto;
    width: 30rem;
    grid-template-columns: 10rem auto;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
  }
  .signup-form__checkbox {
    grid-column: span 2;
  }
  .signup-form[id="title"] {
    grid-row: span 2;
  }
}
